<div class="container">

    <app-funcionario-form (funcionarioAdicionado)="aoAdicionar($event)"></app-funcionario-form>

    <div class="row mt">

        <div class="col-2 mt-3" *ngFor="let f of funcionarios">
            <app-funcionario-card [funcionario]="f"></app-funcionario-card>
        </div>

    </div>

    <div class="row mt">

        <app-testing-pipes></app-testing-pipes>

    </div>

    <div class="row mt">
        <app-formulario></app-formulario>
    </div>

    <div class="row mt">
        <h1>Testando importação e exportação de módulos/componentes</h1>
        <app-menu></app-menu>
        <br>

        <app-botao-grande label="App"></app-botao-grande>
    </div>
</div>